# OSX
.DS_Store
_DS_Store

# IDEs
.vscode/
.idea/

# __pycache__
__pycache__/
**/__pycache__/

# inventory
inventory.yml
inventory.ini

# local ansible configs:
ansible.cfg

# ansible-lint:
.ansible/

# log files:
*.log

# env files:
*.env

# open webui
.webui_secret_key