- name: Ping my host
  ansible.builtin.ping:

- name: Get RHEL version
  ansible.builtin.shell: rpm -E %rhel
  register: rhel_version

- name: Print RHEL version
  ansible.builtin.debug:
    msg: "RHEL version: {{ rhel_version.stdout }}"

- rpm_key:
    state: present
    key: "https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-{{ rhel_version.stdout }}"
  become: true
  become_user: root

- name: Install enterprise package
  become: true
  become_user: root
  dnf:
    name:
      - dnf-plugins-core
      - "https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ rhel_version.stdout }}.noarch.rpm"
    state: latest

- name: Enable powertools/codeready builder for RHEL (powertools under CentOS)
  become: true
  become_user: root
  command: subscription-manager repos --enable codeready-builder-for-rhel-{{ rhel_version.stdout }}-ppc64le-rpms

- name: Apply OpenSSL Fix (RHEL10)
  # appliess the fix for https://access.redhat.com/solutions/7134243 before installing development tools
  become: true
  become_user: root
  ansible.builtin.dnf:
    name:
      - rpm-sequoia
      - openssl-libs
    state: latest

- name: Apply GPG Key Fix (RHEL10.1)
  # applies the fix for a gpg key issue with many packages in RHEL10.1 (see: https://access.redhat.com/solutions/7136991)
  become: true
  become_user: root
  ansible.builtin.dnf:
    name:
      - redhat-release
    state: latest

- name: Install the 'Development tools' package group
  become: true
  become_user: root
  dnf:
    name: '@Development tools'
    state: present
