# Installs ChromaDB into the current python environment
#
# This is done by downloading and building chromadb itself.
#
# NOTE: up to date chromadb versions are available via pip using 
#       the ibm wheels in combination with the mgiessing gemfury repo, 
#       as installed by the venv script.
#
# Parameters:
# - chroma_env_name: Name of the micromamba env in which chroma will be installed
# - chroma_version: The version of chroma to install (defaults to latest)
# - working_directory: The directory in which the chroma/ subdir for all files (e.g. python) of chroma will live.
# - conda_dir:  Directory for all conda environments (root-prefix) (when use_pip = false)
# - python_version: The version of python to use for the micromamba env
# - use_pip(bool): Whether to use pip instead of teh default micromamba install for python setup
---
- name: Setup System
  hosts: techzone
  vars:
    # compatible/tested protoc version
    protoc_version: 30.2

  tasks:
    - name: Ping host
      ansible.builtin.ping:

    - name: Setup PIP Repo
      become: true
      become_user: root
      ansible.builtin.blockinfile:
        dest: /etc/profile.d/pip_setup.sh
        block: |
          export PIP_EXTRA_INDEX_URL="https://wheels.developerfirst.ibm.com/ppc64le/linux https://repo.fury.io/mgiessing"
          export PIP_PREFER_BINARY=true
        owner: root
        state: present
        insertafter: EOF
        append_newline: true
        create: true
        mode: a=r,u=rwx

    - name: Reload profile variables on localhost
      ansible.builtin.command:
        cmd: source /etc/profile.d/pip_setup.sh
      when: inventory_hostname == "localhost"
      changed_when: false

    - name: Install dependencies
      become: true
      become_user: root
      ansible.builtin.dnf:
        name:
          - git
          - curl
          - unzip
          - bzip2
          - openblas-devel
          - '@Development tools'
        state: present

    - name: Install Rust
      ansible.builtin.shell:
        cmd: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y

    - name: Create temp dir
      ansible.builtin.tempfile:
        state: directory
      register: build_dir

    - name: Install Protobuf
      ansible.builtin.shell:
        chdir: "{{ build_dir.path }}"
        cmd: curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v{{ protoc_version }}/protoc-{{ protoc_version }}-linux-ppcle_64.zip && unzip -o protoc-{{ protoc_version }}-linux-ppcle_64.zip -d $HOME/.local

- name: Setup Micromamba
  hosts: all
  vars:
    # required for micromamba install
    arch: linux-ppc64le
    version: latest
  tasks:
    # skip the entire Micromamba setup play if pip should be used.
    - name: Check Mamba vs pip
      ansible.builtin.meta: end_play
      when: use_pip | default(false) | bool

    - name: "Check if micromamba already exists in {{ micromamba_location }}"
      ansible.builtin.stat:
        path: "{{ micromamba_location }}"
      register: mamba_stat
    - name: Install micromamba
      ansible.builtin.import_tasks: ./support/download-and-extract-micromamba.yml
      when: not mamba_stat.stat.exists

    - name: Check install env presence
      ansible.builtin.shell:
        cmd: micromamba env list | grep {{ chroma_env_name | default('chroma') }} | cut -f3 -d" "
      register: mamba_install_env

    - name: Create {{ chroma_env_name | default('chroma') }} python env
      ansible.builtin.command:
        argv:
          - micromamba
          - create
          - --root-prefix
          - "{{ conda_dir }}"
          - --yes
          - -n
          - "{{ chroma_env_name | default('chroma') }}"
          - --channel=rocketce
          - --channel=defaults
          - python={{ python_version }}
      when: not mamba_install_env.stdout == chroma_env_name | default('chroma')

- name: Setup Pip Venv
  ansible.builtin.import_playbook: "{{ base_dir }}/support/setup-python-venv.yml"
  vars:
    base_dir: .
  when: use_pip | default(false) | bool


- name: Install ChromaDB
  hosts: all
  tasks:

    - name: Set Venv python facts
      ansible.builtin.set_fact:
        python_command: "{{ venv_python }}"
        python_bin: "{{ venv_bin }}/"
      when: use_pip | default(false) | bool

    - name: Set Micromamba python facts
      ansible.builtin.set_fact:
        python_command: "{{ conda_dir }}/envs/{{ chroma_env_name | default('chroma') }}/bin/python"
        python_bin: "{{ conda_dir }}/envs/{{ chroma_env_name | default('chroma') }}/bin/"
      when: not use_pip | default(false) | bool

    - name: Install Build Tools
      ansible.builtin.command:
        argv:
          - micromamba
          - install
          - --root-prefix
          - "{{ conda_dir }}"
          - --yes
          - -n
          - "{{ chroma_env_name | default('chroma') }}"
          - --channel
          - rocketce
          - --channel
          - defaults
          - maturin
      when: not use_pip | default(false) | bool

    - name: Install Build Tools
      ansible.builtin.command:
        argv:
          - "{{ python_command }}"
          - -m
          - pip
          - install
          - maturin
      when: use_pip | default(false) | bool

    - name: Clean Chroma dir
      ansible.builtin.file:
        path: "{{ working_directory }}/chroma"
        state: absent

    - name: Clone chromadb repo
      ansible.builtin.git:
        repo: https://github.com/chroma-core/chroma.git
        single_branch: true
        version: "{{ chroma_version | default('latest') }}"
        dest: "{{ working_directory }}/chroma"

    - name: Update chroma lockfile
      ansible.builtin.command:
        chdir: "{{ working_directory }}/chroma"
        argv:
          - cargo
          - update
          - generator@0.8.1
      changed_when: false

    - name: Install pip build tools
      ansible.builtin.command:
        chdir: "{{ working_directory }}/chroma"
        argv:
          - "{{ python_command }}"
          - -m
          - pip
          - install
          - build

    - name: Build Chroma
      ansible.builtin.command:
        chdir: "{{ working_directory }}/chroma"
        argv:
          - "{{ python_command }}"
          - -m
          - build
          - .

    - name: Install Chroma
      ansible.builtin.shell:
        chdir: "{{ working_directory }}/chroma/dist"
        cmd: "{{ python_command }} -m pip install *.whl"

    - name: Remove temp dir
      ansible.builtin.file:
        path: "{{ build_dir.path }}"
        state: absent
